.button{
    background: var(--purple);
    color: var(--white);
    font: var(--button);

    /* propiedades de padding logicas, no fisicas en este caso*/
    padding-inline-start: 1.5rem; /* padding de izq a drecha en un modo de escritura (writing-mode) horizontal */
    padding-inline-end: 1.5rem;
    padding-block-start: 0.8125rem;
    padding-block-end: 0.8125rem;

    border-radius: 0.25rem;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    text-align: center;

}

/* Variante de botón */
.button.is-secondary{
background: unset; /* si tiene valores de propiedades heredadas, unset le quita el valor del background heredado */
color: var(--purple);
border: 0.125rem solid var(--purple)

}