.title{
    /* le quito el stretch */
    background: var(--purple);
    align-self: flex-start;
    color: var(--white);
    font: var(--headline5);
    text-decoration: none;
    padding-inline-start: 0.25rem;
    padding-inline-end: 0.25rem;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    /* x y blur color */
    box-shadow: -0.25rem 0 .25rem 0 var(--white);
   /* para que la sombra blanca de la izquierda no se salga del contenedor */
   margin-inline-start: 0.25rem;
}