:root {
    /* Documentar estilos */
    /* los estilos del design system de Figma se colocarian como variables */
    --fontBase: 'Poppins', sans-serif;
    --headLine1: bold 50px/normal var(--fontBase);
    --headLine2: ;
    --headLine3: ;
    --headLine4: ;
    --headLine5: ;
    --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
}

.header {
    display: flex;
    justify-content: space-between;
}

body {
    /* Un degradado es una imagen. Con esto solo, se va a ver cotado, por lo tanto se aumenta con vh  para adaptarse la altura a cualquier tamaño de pantalla*/
    background: var(--gradient);
    min-block-size: 100vh;
    font: var(--headLine1)
}